
/* https://www.w3schools.com/css/default.asp */

h1 {
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 12px;
	border-bottom: 6px solid black;
	/* must be followed by a <p>...</p> for good screen style */
}

h2 {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}

h4 {
	font-weight: bold;
}

h5 {
	font-weight: bold;
}

h6 {
	font-weight: bold;
}

.jm-border-header {
	border-width: 2px !important;
	margin:1em -1em;
	padding:0 1em;
}

div.container {
	max-width: 850px; /* 850=680@125% (18cm), WindowsScreenScale=125%, FirefoxScreenScale=100%, FirefoxPrintScale=80% [642px=17cm@96dpi@100%, 680px=18cm@96dpi@100%] */
	padding: 0;
}

small {
}
